# Database Config
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=alemno_payments

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
